body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #384959;
}

.App {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6a1b9a;
  color: white;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #e3f2fd;
  transition: background-color 0.3s;
}

.task-list li:hover {
  background-color: #bbdefb;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
}

label {
  margin-right: 10px;
}

select {
  padding: 10px;
  border: 1px solid #BDDDFC;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

button.delete {
  background-color: #6A89A7; /* Red */
}

button.delete:hover {
  background-color: #6A89A7;
}
